[2019-03-03 16:11] cube2222 opened #2 "Implement Redis backend"

[2019-03-03 16:12] cube2222 opened #3 "Implement Postgres backend"

[2019-03-03 16:12] cube2222 opened #4 "Implement CSV backend"

[2019-03-03 16:13] cube2222 opened #5 "Design logical plan"
Idea: The logical plan node should have a method getphysical and should, after calling on the root node, create a naive physical plan for the whole tree.

[2019-03-03 16:13] cube2222 opened #6 "Implement ast -> logical plan conversion"

[2019-03-03 16:14] cube2222 opened #7 "Write a project description note for Grześ"
https://docs.google.com/document/d/1toanS54SYzr0OjeWnOvTXfY8SCU7hpqnYIEPmPWAEDk/edit?usp=sharing

[2019-03-03 16:14] cube2222 opened #8 "Design backend interfaces"

[2019-03-04 19:11] cube2222 opened #10 "Implement JSON backend"

[2019-03-04 19:11] cube2222 opened #11 "Design physical plan"

[2019-03-04 19:12] cube2222 opened #12 "Implement physical plan execution"

[2019-03-05 14:06] cube2222 opened #13 "Implement in memory filter (where)"

[2019-03-05 14:06] cube2222 opened #14 "Implement in memory map (select)"

[2019-03-05 15:11] cube2222 opened #15 "Design a sensible predicate notation"

[2019-03-06 20:04] cube2222 opened #16 "Implement logic operators"

[2019-03-06 20:11] cube2222 opened #17 "Implement in memory index"

[2019-03-09 12:43] cube2222 opened #20 "Implement logi operators"

[2019-03-09 12:43] #20 closed, assigned to nobody

[2019-03-09 12:44] cube2222 opened #21 "Implement relation operators"

[2019-03-09 12:44] cube2222 opened #22 "Create a framework for scenario-matching-based optimizations."

[2019-03-09 12:45] cube2222 opened #23 "Implement actual optimizations."

[2019-03-09 12:56] #15 closed, assigned to cube2222, JasiekChomiak, woojtek, prawilny

[2019-03-09 12:57] #5 closed, assigned to cube2222

[2019-03-09 12:57] #7 closed, assigned to cube2222, JasiekChomiak, woojtek, prawilny

[2019-03-09 12:57] #8 closed, assigned to cube2222, JasiekChomiak

[2019-03-09 12:57] #10 closed, assigned to cube2222, JasiekChomiak, woojtek, prawilny

[2019-03-09 12:57] #11 closed, assigned to cube2222

[2019-03-09 12:57] #12 closed, assigned to cube2222

[2019-03-09 12:57] #13 closed, assigned to cube2222

[2019-03-09 12:57] #14 closed, assigned to cube2222

[2019-03-09 12:57] cube2222 opened #24 "Implement Union All"

[2019-03-09 12:58] cube2222 opened #25 "Implement Group By"
#

[2019-03-09 12:58] cube2222 opened #26 "Design and implement helper functions"

[2019-03-09 12:58] cube2222 opened #27 "Implement Left Join"

[2019-03-09 12:59] cube2222 opened #28 "Implement Inner Join"

[2019-03-09 12:59] cube2222 opened #29 "Implement Distinct"

[2019-03-09 12:59] cube2222 opened #30 "Implement Union"

[2019-03-09 13:00] cube2222 opened #31 "Implement Order By"

[2019-03-09 13:01] cube2222 opened #32 "Integrate visualization for describe-like functionality"
https://github.com/bradleyjkemp/memviz this with minor modifications to the code (inlining of pointers) works great.

[2019-03-09 13:02] cube2222 opened #33 "Design and implement arithmetics"
This should probably be an extension of #26

[2019-03-09 13:02] cube2222 opened #34 "Implement Limit"

[2019-03-09 13:02] cube2222 opened #35 "Implement In Memory data source for testing purposes"

[2019-03-09 13:03] cube2222 opened #36 "Implement yaml data source configuration"

[2019-03-17 12:02] cube2222 opened #41 "Server mode."
Think about adding server mode where queries are supplied through http calls. Would also require adding nice statistics everywhere.

Would be very useful for production usage.

Watching configuration changes in git would be amazing.

Configuration hot reload.

[2019-03-17 12:13] #6 closed, assigned to cube2222

[2019-03-17 12:20] cube2222 opened #42 "Implement data source and filter merge optimization"

[2019-03-17 21:40] #22 closed, assigned to cube2222

[2019-03-17 21:40] #21 closed, assigned to cube2222

[2019-03-18 10:18] #16 closed, assigned to JasiekChomiak

[2019-03-22 23:23] #24 closed, assigned to woojtek

[2019-03-26 10:33] prawilny opened #54 "Implement Offset"

[2019-04-01 09:43] #4 closed, assigned to prawilny

[2019-04-02 08:42] prawilny opened #57 "Implement RecordStream.Close()"

[2019-04-03 10:34] JasiekChomiak opened #58 "Implement IN parsing"

[2019-04-05 07:47] #35 closed, assigned to JasiekChomiak

[2019-04-05 07:47] #29 closed, assigned to JasiekChomiak

[2019-04-05 18:56] #3 closed, assigned to JasiekChomiak

[2019-04-05 20:09] #42 closed, assigned to cube2222

[2019-04-08 08:26] #2 closed, assigned to woojtek

[2019-04-30 09:16] #34 closed, assigned to prawilny

[2019-04-30 09:17] #54 closed, assigned to prawilny

[2019-04-30 09:17] #30 closed, assigned to prawilny

[2019-05-09 17:30] #36 closed, assigned to cube2222

[2019-05-14 09:37] JasiekChomiak opened #74 "Implement ALL"

[2019-05-14 09:37] JasiekChomiak opened #75 "Implement ANY"

[2019-06-04 19:49] #57 closed, assigned to JasiekChomiak

[2019-06-05 06:33] #31 closed, assigned to prawilny

[2019-06-05 07:58] #26 closed, assigned to nobody

[2019-06-07 17:02] #27 closed, assigned to cube2222

[2019-07-05 12:53] #23 closed, assigned to nobody

[2019-07-05 12:57] #28 closed, assigned to nobody

[2019-07-05 20:35] #58 closed, assigned to cube2222

[2019-07-12 20:12] #25 closed, assigned to cube2222, woojtek

[2019-07-14 14:58] #33 closed, assigned to JasiekChomiak

[2019-07-16 14:42] kedoska opened #110 "MSSQL Storage"
Hi there,

Very interesting tools. Thank you in advance.
I see that MSSQL is not in the roadmap.

**How could it be implemented?** Adding a dedicated datastore would be enough?
_I could eventually help in the process_

[2019-07-16 15:13] vlad88sv opened #111 "Please add support for CouchDB"
Please add support for CouchDB :)

Thank you

[2019-07-16 17:54] denisgolius opened #112 "Can you add nosql scylla support?"
https://github.com/scylladb/gocqlx

[2019-07-16 19:00] atvaccaro commented on #41
I really wanted a tool like this at my last job, but for joining Cassandra and Postgres data together. I'd definitely be interested in contributing to the web server.

[2019-07-16 19:25] cube2222 commented on #112
Hey, we're planning to add cassandra support, which would also probably solve scylla support.

[2019-07-16 19:26] denisgolius commented on #112
Nice to hear this :D

[2019-07-16 19:28] cube2222 commented on #41
I'll make sure to mention you if we'd use help on that. Currently we're getting basic features working first (like the cassandra support) and later we'll be working on the server mode. (maybe even with a postgres protocol interface, that sounds like a neat idea)

[2019-07-16 19:29] cube2222 commented on #110
Hey, it would basically be copy pasting the postgres data source and changing the sql generation parts to fit the dialect. MySQL support was added in like half an hour as a copy paste of the postgres package.

[2019-07-17 03:01] mcapodici opened #113 "JSON: null value causes invalid memory address or nil pointer dereference error"
Platform: Windows

example.json:
[code]

settings.yaml
[code]

command
`octosql "select * from t as tt" -c settings.yaml`

result:
[code]

[2019-07-17 07:58] JasiekChomiak opened #114 "Add Cassandra support"

[2019-07-17 07:59] JasiekChomiak commented on #112
Closing since I opened the Cassandra support issue.

[2019-07-17 07:59] #112 closed

[2019-07-17 08:44] cube2222 commented on #112
#114 linking :)

[2019-07-17 12:25] Suleman-Elahi opened #117 "Doesn't show data from CSV and MySQL"
In my case, I am trying to join data from a CSV and MySQL source. But in the end, it shows nothing in the output.

Platform: Windows, 64 Bit

![image](https://user-images.githubusercontent.com/24384996/61375245-01430c00-a8bc-11e9-9c85-e6ea509dc830.png)

[2019-07-17 14:22] cube2222 commented on #117
Hey, you have a typo there, you aliased the table cut with c, but later used cut.asin :)

[2019-07-17 18:09] denisgolius opened #118 "Add VictoriaMetrics support from sql to promsql"
https://github.com/VictoriaMetrics/VictoriaMetrics/wiki/Single-server-VictoriaMetrics

[2019-07-17 18:10] pandruszkow commented on #111
+1 here, would really like to see this. I'm planning to use CouchDB for small-scale personal projects, and it would be nice if I could use Octo with this.

[2019-07-18 04:21] Suleman-Elahi commented on #117
Oh, I was just experimenting with that. However, it still doesn't work. But if you use table name directly in ON then it does shows something.

![image](https://user-images.githubusercontent.com/24384996/61428868-9fc58080-a941-11e9-80b9-7889fdb43190.png)

[2019-07-18 05:40] cube2222 commented on #117
Would it be possible for you to post a describe of your MySQL table? I think it has something to do with types not matching. (I'll make sure to add some helper functions to view type information)

[2019-07-18 06:49] Suleman-Elahi commented on #117
Here it is.
![Uploading image.png…]()

[2019-07-18 11:48] cube2222 commented on #117
Hey, looking at your last image you use c.id (even though above it was c.asin). I failed to reproduce your issue.

With a csv table:
[code]

And mysql table (int, text, text):
[code]

an octosql.yaml:
[code]

and invocation:
[code]

I get:
[code]

So you'd have to provide all the files / a docker image with a database with data already included for me to help.

[2019-07-18 11:49] #113 closed

[2019-07-18 11:53] cube2222 commented on #113
Hey, thanks for the issue report! The fix is now on the master branch. We'll do a point release by the end of the week. If you want the fix asap though, you can download the binaries from the CI build: https://circleci.com/gh/cube2222/octosql/1485#artifacts/containers/0

[2019-07-18 11:54] cube2222 commented on #113
The coalesce and nullif functions have been added for working with null values.

[2019-07-18 22:15] martin-displayr commented on #113
Great, thank you that's a very quick turnaround.

[2019-07-19 04:27] Suleman-Elahi commented on #117
I don't know what I am doing wrong. Let me try it on Linux and MAC and then I will let you know. I am just in the first year of college so I not confident about it but if it is working fine for you then you can close this issue.

![image](https://user-images.githubusercontent.com/24384996/61509226-33af4f00-aa0b-11e9-92a2-8fecba9e8adb.png)

The octosql.yaml in my case:

[code]

[2019-07-19 15:30] danhlee329 opened #125 "Add a Schema Compare Feature"
This feature will be very helpful in generating sync-scripts that can allow you to compare different aspects or all of the schema where you can run that script to match the target schema.  I've used a tool that did this (which was solid), but the licensing fees were absurd.

[2019-07-20 09:42] cube2222 commented on #125
Hey, sorry, I don't understand what you're describing.

[2019-07-20 09:44] cube2222 commented on #118
Prometheus would be fairly easy to add (column per label, with filtering on those and on timestamps).

However, prometheus has semantics which may better fit a streaming context. Which is why this will have to wait until ergonomic streaming support is designed.

[2019-07-20 09:44] cube2222 opened #127 "Design streaming support."

[2019-07-20 09:45] cube2222 commented on #118
Created an issue to track it. #127

[2019-07-20 09:46] cube2222 commented on #117
Closing for now, feel free to reopen.

[2019-07-20 09:46] #117 closed

[2019-07-20 16:05] valyala commented on #118
@cube2222 , the following article could be helpful in understanding PromQL semantics - https://medium.com/@valyala/promql-tutorial-for-beginners-9ab455142085

[2019-07-20 18:41] cube2222 commented on #118
I understand Prometheus semantics and I've used it a lot. The naive, fairly ergonomic implementation would be very easy to do. However, in my opinion Prometheus is more of a streaming data source in the context of octosql, so in order to achieve a coherent system, we'll have to hold off with Prometheus support till we have streaming semantics and decide if they fit Prometheus or not.

Feel free to

[2019-07-22 16:25] cube2222 commented on #111
Hey, feel free to contribute it, I don't think we'll find time for it ourselves. I've written a small datasource contribution guide: https://github.com/cube2222/octosql/tree/master/storage

[2019-07-22 16:26] cube2222 commented on #110
I've written a small datasource contribution guide if that helps: https://github.com/cube2222/octosql/tree/master/storage

[2019-07-22 16:31] danhlee329 commented on #125
### Potential Use Case:

You have a `DEV` and `TEST` database.  You've made changes on `DEV` (i.e., column change, added/removed indexes, added a relationship, added data to a lookup table) and would like to migrate those changes to `TEST`.

#### Possible Usage of Feature:

You are able to select two databases to compare and generate sync-scripts that will automatically sync up a database to match

[2019-07-23 06:16] Suleman-Elahi commented on #117
Actually my CSV file was in "UTF8 with BOM" encoding which is why it wasn't working. Now, I have changes that to ANSI and it works !!!

Also, one thing that I noted that if some cell is empty in MySQL table then it throws an error and stops.

Thanks.

[2019-07-23 10:10] cube2222 commented on #117
Hey, great it works for you!

The 0.1.1 sunday release fixes that error ;)

[2019-07-24 06:44] cube2222 commented on #125
Thanks for the explanation! However, I don't see how this would fit into OctoSQL, as OctoSQL is mean for read-only data analysis.

[2019-07-24 06:44] #125 closed

[2019-07-26 10:43] MateuszKubuszok opened #130 "Support Excel (.xlsx) files as a Datasource"
Seeing how useful is to be able to query with SQL in Excel and similar spreadsheets it would be useful to bring this functionality into a CLI tooling.

[2019-07-26 12:45] cube2222 commented on #130
Hey, yea, xlsx support would be a great addition I'd love to have.

Just tested out https://github.com/360EntSecGroup-Skylar/excelize and using it is straightforward. Should be a copy-paste of the CSV support.

It probably makes sense to default to a table positioned directly in the left upper corner, but provide configuration parameters allowing to use tables whose left upper corner is somewhere

[2019-07-26 12:47] cube2222 commented on #130
CSV support is there, so I'm changing the title. (change back if u want)

[2019-07-26 20:13] MateuszKubuszok commented on #130
I guess for start assuming that whole sheet is a table is ok, once the basic functionality is there anyone could extend it by e.g. picking some subregion or something.

[2019-07-30 08:36] ruudk opened #131 "Add SSH tunneling support"
Would be great to be able to connect over a bastion SSH host to the actual database.

[2019-07-30 18:57] cube2222 commented on #131
Is there any reason why a standard local ssh tunnel won't suffice?

[2019-07-30 19:00] cube2222 commented on #131
Anyways, I don't think this is worth working on at this stage of Octosql, where a generic way of configuring this and of generically opening the tcp connections to databases would have to be designed.

[2019-08-03 08:57] harelba opened #132 "Crash while processing a file"
Hi, when processing the following, octosql fails on a "couldn't get record stream for execution" error.

Here's a reproduction of the issue. The reason for the `cut` operation is because I've tried bysecting in order to find in which cases the issue happens. The command below fails. When changing the 13 to 12, it works. Any value above 12 would crash the program.

[code]

The matching config file

[2019-08-03 09:03] harelba commented on #132
[reproduction-data.tar.gz](https://github.com/cube2222/octosql/files/3463573/reproduction-data.tar.gz)

[2019-08-03 10:13] cube2222 opened #133 "Add support for csv files without a header row"
Just use names like col1,col2,col3...

[2019-08-03 10:18] cube2222 commented on #132
Hey Harel,
Thanks really much for the issue!

It crashes because currently, OctoSQL requires csv files to have a header row (good idea to fix this). Which means it uses the first row for the column names.

The second and 12th column both have values SACRAMENTO, but column names need to be unique.

I've checked it out and the error should say that (and it does for me):
"couldn't run plan: couldn't

[2019-08-06 16:50] nfultz opened #135 "Zero-config CSV queries"
I'm not sure how feasible this may be, but the old [logparser](https://github.com/nfultz/logparserwinedocker) program from Microsoft supported queries like

    Select * from test.csv

And it would read from test.csv, without needing any config files.

[2019-08-06 19:39] cube2222 commented on #135
Hey, I think some thought must be put into if this wouldn't cause any trouble with ambivalent meanings further down the road.

However, what we want to support for sure is allowing to input csv / json data via standard input for queries like:

[code]

Maybe a table valued function would be a good idea?

[code]

Not sure though if it's a good idea to provide so many ways to solve a single problem (

[2019-08-08 05:00] cube2222 commented on #132
Closing this. Reopen whenever you want.

[2019-08-08 05:00] #132 closed

[2019-08-08 17:49] nfultz commented on #135
This would be fantastic! One problem would be, how to tell what format stdin is providing? I can imagine people piping in json at least as often CSV. `logparser` dealt with that by having a gazillion `-i:format` flags, but I don't find that very elegant.

Another option would be to pipe in a config from stdin, something like this may not be too bad:

[code]

This would be a very general, but doesn

[2019-08-10 20:15] cube2222 commented on #135
I think that discerning between csv and json wouldn't be too hard :) and I don't think there are much more formats people would like to pipe in through stdin (Excel?)

[2019-08-17 11:54] harelba commented on #132
Sorry for the late reply, thanks for checking this out. This is indeed the case, I saw that it doesn't detect the headers, but thought that the purposes of the benchmark it's not that important, but clearly it is :)

Thanks! I'll send the benchmark info when ready.

[2019-08-17 16:04] cube2222 commented on #132
I'd really appreciate that! (though we'll probably end up last for now 😉)

[2019-08-20 12:53] the42 opened #140 "CSV separator specification"
The comma is the de-facto standard to separate fields in CSV, however locales, which use the comma as a numeric fraction separator, often use another separator like ; or | or \t

Support the configuration of another csv field separator in the configuration or use heuristics to deduce the separator (to fulfill #135)

[2019-09-02 06:59] woojtek commented on #140
done :) https://github.com/cube2222/octosql/pull/145

[2019-09-02 06:59] #140 closed

[2019-09-16 15:55] cube2222 commented on #133
This is fixed on master.

[2019-09-16 15:55] #133 closed

[2019-09-16 20:15] cube2222 commented on #130
Done and released :)

[2019-09-16 20:15] #130 closed

[2019-09-30 06:22] varunshaji opened #147 "Use gleam for distributed process"
https://github.com/chrislusf/gleam -
Gleam is another go based micro-footprint framework used for MR style processing.
There is a parallel thread in Gleam to implement SQL layer on top of it.
It would be better if octosql could have the physical planner running on Gleam

[2019-11-13 21:28] JasiekChomiak opened #148 "Create a prototype of Key-Value store"
Write out some basic ideas of how a Key-Value store based on Badger supporting a set of necessary operations might look like.

[2019-11-23 13:28] andyli029 opened #149 "go test parser_test.go FAILED"
[code]

[2019-11-26 12:10] #149 closed

[2019-12-18 15:14] willy140198 opened #155 "Add mongoDB support"

[2019-12-20 09:07] will2love commented on #155
可以交流下吗 最近我也在做这个 也需要mongo的支持

[2019-12-20 20:33] cube2222 commented on #155
I'm sorry, I do not speak chinese.

Anyways, MongoDB support is definitely something we want to have in the future, but it's not a priority for us now, so no ETA.

Feel free to contribute it and let us know if you need help with it!

[2019-12-23 08:29] will2love commented on #155
What should I do if I need to add mongodb support base octosql

[2019-12-23 16:54] cube2222 commented on #155
Here's the readme for contributing new databases: https://github.com/cube2222/octosql/blob/master/storage/README.md

Feel free to ask follow up questions here in case you need any help, or something's not clear.

[2019-12-24 09:14] will2love commented on #155
if I want add support  'having' operation， Do I need modify sqlParser module ?  this module can parse all sql now?

your sqlParse module reference https://github.com/xwb1989/sqlparser ??

[2019-12-24 14:30] cube2222 commented on #155
Our parser is a customized copy of the one in vitess. It's in the source code.

However, there's the parser.go file which translates between the output of the SQL parser and our logical plan. HAVING expressions are currently parsed by the SQL parser, but are ignored in parser.go. So you'd probably just have to add an additional filter node after the group by there based on the having clause, and a

[2019-12-25 08:40] will2love commented on #155
Thank you for your reply above
1. when type is "redis " in octosql.yaml, what is this databaseKeyName?  when I config anyone words Example “abcd” or "xxxx",  then test is ok. so this databaseKeyName what it means?

my redis have 3 hash variable:
hset myhash1  id 1
hset myhash name  "will"

hset myhash2  id 2
hset myhash name  "tom"

hset myhash3  id 3
hset myhash name  "lily"

octoi.yaml:
  - name

[2019-12-25 08:48] will2love commented on #155
Follow the above configuration , redis query can scan all hash varibale ? but some hash variable struct is not same, and program will error when not find field . so  how use redis config?

[2019-12-25 10:43] cube2222 commented on #155
1.
The databaseKeyName is how the column with the primary key is called in octosql for this datasource. It's just "key" by default. This column would contain myhash1, myhash2, myhash3. So with your databaseKeyName "abcd" you could write a query
[code]
Redis only support lookup by this key, so filtering by values of the hash happens in memory in octosql.

2. I don't think I understand. All values c

[2019-12-25 11:36] will2love commented on #155
thanks , now I kows  how use databaseKeyName.

My test:
# set abc “this is a string value”  //redis set

$ ./main.exe "select p.id, p.name from people p where p.key = 'abc'" -o json
2019/12/25 19:33:28 couldn't run plan: couldn't get next record: couldn't get source record: couldn't get source record: could't get hash for key abc: WRO
NGTYPE Operation against a key holding the wrong kind of value

[2019-12-25 11:50] will2love commented on #155
I will delete your cobra CLI , then input sql and call parse function directly,  Multiple concurrent execute sql do  will cause probmles ? Example 10000 client call same sql "select * from t" use parse func  at the same time ?

[2019-12-25 15:34] cube2222 commented on #155
Yeah, only hashes are supported. You can filter on the key or hash fields. The key filter will be pushed down to redis (only the wanted data will be transfered) and the hash fields filter will be done in-memory (all redis data will be scanned and processed in OctoSQL).

[2019-12-26 01:33] will2love commented on #155
`(all redis data will be scanned and processed in OctoSQL)`

if a  high number of redis value, and now many client query redis value at same time,  Do will memory can crash ?

[2019-12-26 03:05] will2love opened #156 "Framework and Design details"
hi, I want to know the specific process how execute Physical plan. Do you have any reference materials？
I  want to  know the details of logical plan convert to Physical plan, and then how execute Physical plan.
thanks

[2019-12-26 11:42] cube2222 commented on #155
It shouldn't. Everything works in a streaming fashion.

[2019-12-27 02:39] will2love commented on #155
I do not quite understand these concepts:   `primary or secondary keys`  or `streaming`  or `filters` when I support mongo datasource .  and your streaming fashion  do refer to spark streaming or some straming frame?   Can you help me explain these to me? thanks

[2019-12-27 22:35] cube2222 commented on #155
Primary keys are primary keys in databases. Secondary keys are all other fields.

If you can push down an operation on a primary key, then it'll check the name of the field in the filter expression to see if it can push it down.

If you can push down an operation on a secondary key, then it will be pushed down regardless of the field name.

I don't undesrstand the rest of the questions.

However,

[2019-12-27 22:36] cube2222 commented on #156
You just have to read the code for now. There's a package logical with the logical plan components, which then construct the physical one, which gets transformed by the optimizer, and later the physical plan knows how to construct an execution plan from itself.

[2019-12-31 04:25] willy140198 opened #157 "Cannot use subquery"
Hi, I try to query using subquery like this
SELECT pta2.*, tam1.created_at as ticket_agent_mapping_create FROM premier_ticket_aml pta2
LEFT JOIN (
	SELECT * FROM ticket_agent_mapping tam
		WHERE tam.agent_role = 'aml_agent'
) as tam1 ON pta2.ticket_id = tam1.ticket_id
ORDER BY pta2.id ASC;
But its doesnt work. Did I do something wrong?

[2019-12-31 15:27] cube2222 commented on #157
What does "it doesn't work" mean?

[2019-12-31 21:57] willy140198 commented on #157
It's return error
![IMG-20191231-WA0004](https://user-images.githubusercontent.com/37429573/71634996-21406f00-2c53-11ea-89fc-4728a5654f55.jpg)

[2020-01-01 11:36] cube2222 commented on #157
Ok, I see the bug causing this now.

You probably have a null as some ticket id. And after the migration to protobuf, it seems like pushdown stopped working well with SQL db's cause of type differences. (struct{} vs null)

Thank you for the issue! I'll try fix this ASAP.

The binary of the latest release (not master branch) should probably work well, as that is pre-protobuf.

[2020-01-02 02:34] will2love commented on #155
I do not quit understand these function: `NewKeyFormula`  or `physical.Predicate` when I copy the storage/redis/datasource.go and modify it to suport mongodb. can you help me explain it? thanks

[2020-01-02 03:38] willy140198 commented on #157
Thank you!
Which branch is pre-protobuf?

[2020-01-02 10:00] cube2222 commented on #157
The v0.2.0 release.

[2020-01-03 10:10] danClauz opened #158 "Cannot SELECT table.* ..."
I try to execute query like

`SELECT dyusr.* FROM dynamo.departments as dydep
LEFT JOIN dynamo.user_role as dyur ON dydep.id = dyur.department_id
LEFT JOIN dynamo.users as dyusr ON dyusr.id = dyur.user_id
WHERE dydep.id = 1`

with expectation it will returns only users data, but it return all of tables field value

[2020-01-03 10:11] danClauz commented on #158
`SELECT dyusr.* FROM dynamo_departments as dydep LEFT JOIN dynamo_user_role as dyur ON dydep.id = dyur.department_id LEFT JOIN dynamo_users as dyusr ON dyusr.id = dyur.user_id WHERE dydep.id = 1`

[2020-01-03 13:00] cube2222 commented on #158
Indeed, such expressions do not work at this time, and OctoSQL seems to interpret this as a simple SELECT * FROM ... query. I've changed the title to be a feature request. This shouldn't be hard to add, and will surely make it into the next release.

[2020-01-03 18:37] cube2222 commented on #157
Sorry, my bad. You were correctly using the v0.2.0 release. The error is fixed on the master branch. So please try to use that and let me know if you have further issues. There may be regressions because of the rewrite to protobuf, but there shouldn't be (and I don't know of any yet). Feel free to post issues however.

[2020-01-03 19:53] #156 closed

[2020-01-03 19:53] #148 closed

[2020-01-03 19:57] cube2222 commented on #147
We have a very specified set of qualities we need to achieve with distributed OctoSQL streaming, and I don't think we'll be able to do that with gleam.

What comes to my mind now:
- exactly-once stream processing
- big on-disk state (for stuff like group by, join, distinct)
- working in terms of disks, not nodes (nodes can come and go, disks get attached to them and are scheduled workloads on)
- e

[2020-01-13 23:12] rhanberry opened #165 "go get installation broken on latest"
when you run go get as specified in docs the following error message occurs: `# github.com/cube2222/octosql/storage/excel
go/src/github.com/cube2222/octosql/storage/excel/datasource.go:145:9: assignment mismatch: 1 variable but rs.rows.Columns returns 2 values
go/src/github.com/cube2222/octosql/storage/excel/datasource.go:162:11: assignment mismatch: 1 variable but rs.rows.Columns returns 2 values

[2020-01-14 06:29] cube2222 commented on #165
What version of go do you have?

[2020-01-14 08:56] cube2222 commented on #165
Ok, I've been able to reproduce this. You need to run go get with go modules on, I'll add this to the README, please let me know if this fixes it for you:
[code]

[2020-01-14 13:37] JasiekChomiak opened #166 "Fix escaping strings in LIKE"
When running a query "SELECT * FROM foo f WHERE f.name LIKE 'Ab\%%';"
an element with name = 'Ab&' gets matched because Tokenizer parses 'Ab\%%' as 'Ab%%' and that's what gets inserted as the right variable in LIKE in the parse tree.

This issue doesn't have a trivial solution since escaping characters is based on context. For example when someone wants to alias a column as a\b then they will use

[2020-01-15 16:26] rhanberry commented on #165
Hey that worked! Thank you!!!

[2020-01-15 16:26] #165 closed

[2020-01-15 17:31] #147 closed

[2020-01-27 00:57] amuc opened #169 "Insert"
It seems Insert is not currently supported:

[code]

[2020-01-27 12:25] willy140198 commented on #157
Hi, I had used the master branch and still face this error when using left join.
![image](https://user-images.githubusercontent.com/37429573/73174587-af1c5680-413a-11ea-876e-e2e5ef7ce37b.png)

[2020-01-27 13:52] cube2222 commented on #169
Hey, for now Insert is not planned.

Maybe in the future we'll add the ability to insert into an output data destination, but for now we'll probably stick to using output formats.

But the format:
[code]
would be ergonomic, so we should definitely think about it.

[2020-01-27 14:18] cube2222 commented on #157
How did you install octosql from the master branch?
One approach is to git clone and then go into cmd/octosql -> go install
the other is
[code]

[2020-01-27 14:42] willy140198 commented on #157
I already try it, but no luck. any other suggestion?

[2020-01-27 15:04] amuc commented on #169
As a workaround, I found another tool that seems to handle it:

[code]

https://github.com/mithrandie/csvq

[2020-01-27 18:46] cube2222 commented on #157
Ah sorry, didn't see the new error message on my phone.

OctoSQL doesn't allow you to compare two values of varying types. You should be able to fix this using the coalesce function: https://github.com/cube2222/octosql/wiki/Function-Documentation#coalesce

Changing the field to an int like -1 if it's null.

[2020-01-27 18:59] cube2222 commented on #157
Small example

JSON data:
[code]

usage:
[code]

[2020-01-28 06:32] danferian opened #170 "Parse string to types Time"
how to parse a string to types time?

![image](https://user-images.githubusercontent.com/47311978/73240787-9d868d80-41d2-11ea-8da1-63c05e53ca69.png)

[2020-01-28 18:11] cube2222 commented on #170
Hey, I've added a time parsing function, parse_time. It's still in review but you can use this to install the version from the branch:
[code]

The first argument is the date Mon Jan 2 15:04:05 -0700 MST 2006 as a string in the format you need, and the second is the string with the time to parse.

As an example, to get the time of '2020-01-01', you can use parse_time('2006-01-02', '2020-01-01')

Th

[2020-01-30 12:45] cube2222 commented on #170
Closing for now, please feel free to reopen in case you need further assistance.

Thanks for the issue again!

[2020-01-30 12:45] #170 closed

[2020-02-25 13:03] danClauz opened #183 "Can't use WHERE clause"
I tried to run run a query with postgresql config datasource using WHERE clause and got this error
![image](https://user-images.githubusercontent.com/37054170/75249881-b4d48d00-5809-11ea-8da4-d43a647dc497.png)

[2020-02-25 14:11] cube2222 commented on #183
As the error message indicates, it seems like your postgres instance is getting too many connections.

There is an undocumented configuration parameter, lookupJoinPrefetchCount.

You can set it up like this in the config:
[code]

The default is 32, which in your case of a doubly nested join will create 32*32~900 connections. Could you please try lower values of this parameter? 2,5,10,20?

Please l

[2020-02-25 15:55] willy140198 opened #184 "Slow query result"
so i have query like this
[code]
and the result take so long, more than 1 minute with 32k data, and this query using mysql and postgres at once.
and start_date is our function to parse to parset_time dont mind it.
are you have any sugestion? thank you!

[2020-02-25 16:09] danClauz commented on #183
does the number will affect the speed when getting data?

[2020-02-25 18:22] cube2222 commented on #183
Yes, it will, if you're joining a big number of rows.

[2020-02-25 18:33] cube2222 commented on #184
Depends on what start_date/end_date are referencing in the arguments.

I suppose the predicates (lmsTran.created_at > start_date(?) and lmsTran.created_at < end_date(?)) aren't getting pushed down to the underlying database, and it has to scan the whole mifos.m_loan_transaction table for each transaction. You could try changing the JOIN order (mifos.m_loan_transaction mifosTran JOIN lms.transactio

[2020-02-26 03:37] willy140198 commented on #184
oh i see, that's make sense, thank you!

[2020-02-26 05:48] cube2222 commented on #184
Closing for now, feel free to reopen.

[2020-02-26 05:48] #184 closed

[2020-03-02 08:21] cube2222 commented on #183
Closing this for lack of activity. Feel free to reopen.

[2020-03-02 08:21] #183 closed

[2020-03-12 10:39] will2love commented on #155
I support query to mongodb  ， only support sql  'and' formula 。but when use sub query to mongo ，I do not get successful result , I do not kown what is the wrong:

my test :
select d2.age,d2.user_id, r.user_id, d2.car_tag, r.rt_leatest_product_code,
r.rt_leatest_proposal_time
from (select * from dws_recommend d where d.age =18) d2
join rt_user_info r on d2.user_id = r.user_id

result is :
  "{\"d2.

[2020-03-12 10:58] cube2222 commented on #155
No idea, it's your code which I have no access to. I'd speculate you're misshandling filter pushdown, but I don't know.

[2020-03-12 10:59] cube2222 commented on #155
Feel free to open a PR if you want assistance with the code.

[2020-03-12 11:02] will2love commented on #155
sql: select *  from (select * from dws_recommend d where d.age =18) d2
result:
             "{\"d2.age\":{}}",
            "{\"d2.age\":36}",
            "{\"d2.age\":36}",
            "{\"d2.age\":37}",

[2020-03-12 13:21] cube2222 commented on #155
As I said, I'm sorry but I can't help you unless you create a PR with the mongodb code.

[2020-03-13 02:03] will2love commented on #155
sql :
select d2.children_num, d2.age, d2.user_id  from (select d.children_num, d.age, d.user_id from dws_recommend d where d.age =18) d2

result:
  "{\"d2.age\":18,\"d2.children_num\":1,\"d2.user_id\":\"e201e731ae1a469d88e625f4d26bc9c0\"}",
    {\"d2.age\":18,\"d2.children_num\":0,\"d2.user_id\":\"103c42273f64458d8e2a332cefe2c5ca\"}",

its result is successful.
why sub query must is select xxx, yy

[2020-03-13 07:48] cube2222 commented on #155
As I said, I'm sorry but I can't help you unless you create a PR with the mongodb code.

[2020-03-18 07:24] will2love opened #197 "mysql query error"
CREATE TABLE `test_config` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '自增id',
  `test_config_id` bigint(20) NOT NULL COMMENT '',
  `test_id` varchar(64) NOT NULL COMMENT '实验id ',
  `test_name` varchar(64) NOT NULL COMMENT ' ',
  `flow_id` bigint(20) NOT NULL COMMENT ' ',
  `start_time` datetime NOT NULL COMMENT '开始时间',
  `end_time` datetime NOT NULL COMMENT '结束时间',
  `test_status` bigint(

[2020-03-18 08:25] cube2222 commented on #197
Could you please try the current version from the master branch? I think this has already been fixed there:
[code]

[2020-03-18 09:10] will2love commented on #197
now I use the branch v0.2.0 . and I don't know which branch is the latest and most stable

[2020-03-18 09:28] cube2222 commented on #197
I've sent you the bash command to install the latest version (master branch). I just want to know if the problem is still there or not. If not, there should be a new release soon base on the current master branch.

[2020-03-18 10:22] will2love commented on #197
Thanks
The above problems have been solved，but I use mysql test sub query have some issues.

sql：
select *  from (select t.id  from mysql_test t where t.test_name = 'test') d

result is successful .

sql2:
select *  from (select * from mysql_test t where t.test_name = 'test') d
 result is null.  why?

[2020-03-18 10:48] cube2222 commented on #197
It's a bug, thanks!

I just tested it and the optimizer incorrectly changes the alias of the datasource without changing the variables beneath.

The first query puts a map above the datasource so the optimizer can't push the new alias down.

![image](https://user-images.githubusercontent.com/7013055/76952930-2639c400-690e-11ea-9a71-94fe7417fd9e.png)

[2020-03-18 11:16] will2love commented on #197
ok, Is there any plan to fix this bug to master branch when next commit?

[2020-03-18 11:25] cube2222 commented on #197
We'll try to fix it in time for the next release, as it's a pretty severe bug.

[2020-03-18 11:44] will2love commented on #197
If this bug is fixed, please remind me and close this issue
thank you!

[2020-03-18 12:14] will2love commented on #197
when I query mysql datetime field ,but it return {}
all datetime field return {}

sql ：
select t.start_time  from mysql_test t where t.id = 7

result:
t.start_time":{}

this is a bug when query mysql datatime field?

[2020-03-19 08:54] JasiekChomiak commented on #197
Hi - unfortunately I couldn't achieve the problem you are having. Could you maybe create a small table, try to replicate the issue and then send the rows?

[2020-03-19 08:59] JasiekChomiak commented on #197
Follow up:
1) I created a MySQL TABLE:
    `CREATE TABLE timers(id INT, str VARCHAR(10), t DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP)`

2) Inserted values:
    `INSERT INTO timers (id, str) VALUES (1, 'a')`
    `INSERT INTO timers (id, str) VALUES (2, 'b')`
    `INSERT INTO timers (id, str) VALUES (3, 'c')`

3) Run `SELECT t.t FROM timers t WHERE t.id = 2` and got the expected result

[2020-03-19 11:14] JasiekChomiak commented on #197
As to your `select * from (select * from mysql_test t where t.test_name = 'test') d` problem, the fix was pushed onto the master branch and this query should now be working fine :)

[2020-03-19 16:40] JasiekChomiak commented on #157
Closing for lack of activity

[2020-03-19 16:40] #157 closed

[2020-03-23 12:31] runner-mei opened #203 "I like octosql, I would gladly contribute my efforts，I want to complete Visualizer with graphviz"
- [x] 1.  all Node type of logical.  #204
- [x] 2.  ~~all Node type of physical.~~
- [x] 2. add visualize cmd #205

[2020-03-23 12:45] cube2222 commented on #203
Great to hear that! 🙂

Are there any types of physical nodes which are currently not visualized?

Anyways, feel free to work on this, nobody is currently working on it afaik, and feel free to open an early WIP pull request, so we can stay connected while you work on it!

[2020-03-24 00:35] runner-mei commented on #203
https://github.com/runner-mei/octosql/commit/638fece867b71f067898cfd8097b308ead99bb9c

[2020-03-25 05:39] runner-mei opened #206 "why two map object in the logical nodes?"
I write a graphviz tool for octosql https://github.com/cube2222/octosql/issues/203

And I try convert "select a, b, c from abc as xxx" to a image file.
<img width="562" alt="octosql" src="https://user-images.githubusercontent.com/1052632/77505351-d757d580-6e9d-11ea-9f97-40015f3e03c2.png">

why two map object in the logical nodes?

[2020-03-25 08:54] cube2222 commented on #206
The crux is keep: true and keep: false.

The first one creates any new expressions (in a map for example) keeping the old ones. This way a filter node has access to all the fields. New ones and old ones. (you can do SELECT p.age + 5 as newage FROM people p WHERE newage > p.age).

Then you have a second map node, which will only leave the necessary fields. (the ones the user selected).

Indeed, in

[2020-03-25 13:25] runner-mei commented on #206
Thinks

[2020-03-25 13:25] #206 closed

[2020-03-25 16:20] #203 closed

[2020-03-27 10:05] will2love opened #208 "mysql issue"
when use mysql query and test Concurrency too many:
 couldn't run plan: couldn't materialize the physical plan into an execution plan: couldn't prepare db for query: Error 1461: Can't create more than max_prepared_stmt_count statements (current value: 200000)

I Analyze the code:
     why do not need  close the stmt after  you use the stmt query
Is this issue related to this?

[2020-03-30 12:31] #208 closed

[2020-04-01 07:21] will2love opened #210 "RecordStream function close() not used any where"
RecordStream function close() not used any where

[2020-04-03 06:48] cube2222 commented on #210
It is used in places like the limit node. However, we'll soon (1.5 month) be merging the streaming branch, which will have close functions used properly everywhere. (I don't advise you to use the streaming branch now, it's still WIP)

[2020-04-13 01:54] Dialga opened #215 "SQLite support?"
Hi, since octosql supports mysql and postgresql, can sqlite support be added?

[2020-04-13 07:54] cube2222 commented on #215
Hey, we indeed wanted to add it, but SQLite unfortunately requires CGO.

We haven't yet thought through how we stand on the CGO issue. On the one hand we could add it, with the caveat that it would only work on Linux, on the other it would be nice to explore developing such functionality fully cross-platform.

[2020-04-13 08:04] cube2222 commented on #215
We should experiment with something like https://github.com/karalabe/xgo

[2020-05-06 03:50] will2love opened #230 "mysql Relation = ‘in’"
origin code is this:
//create a query with placeholders to prepare a statement from a physical formula
query := formulaToSQL(filter, aliases)
query = fmt.Sprintf("SELECT * FROM %s %s WHERE %s", tableName, alias, query)

when I use mysql sql: select m.test_id from mysql_test m where m.test_id  in ('aaa')
print the fileter:
&{Value:true}

and then execute function formulaToSQL()
get the sql
SELECT *

[2020-05-06 07:55] cube2222 commented on #230
"In" predicates are not getting pushed down to SQL databases currently.

[2020-05-09 06:35] will2love commented on #230
But why I test mysql use 'in' predicat:
select m.test_id from mysql_test m where m.test_id in ('aaa')

it can get successful result .

this is why?

Can you explain how it works  when 'in' predicates ? thks

[2020-05-09 07:08] cube2222 commented on #230
Yes, OctoSQL first planned query will actually be a whole database scan, followed by filtering in-memory. However, whenever we can, we push down predicates from in-memory filters to the underlying databases.

If you have a predicate like '=' then it will be pushed down, and octosql will only receive the records from the database which satisfy the predicate.

For a predicate like 'in' which is not

[2020-08-02 15:00] #210 closed

[2020-08-02 15:01] #127 closed

[2020-08-02 15:01] #32 closed

[2020-08-02 15:01] #17 closed

[2020-09-18 16:54] harelba opened #250 "Would love some input regarding a benchmark i'm doing"
Hi!

I'm the creator of [q](https://github.com/harelba/q), a tool that has some similar behaviour to part of octosql.

I've been running a benchmark on q's speed, and also added octosql (and textql actually) to the benchmark, mainly for curiosity reasons.

From my benchmark results, it seems that octosql has relatively large execution durations when compared to the other tools.

I would really app

[2020-09-18 17:46] cube2222 commented on #250
Hey!
Feel free to add OctoSQL to the benchmark! It all seems correct.
We're aware that currently we're very lacking in performance, which is caused by the storage which adds other features though. It's true we'll probably be going back on that choice, but whenever we'll improve in performance I'll just make a PR to your repo with new benchmark results 🙂

[2020-09-18 22:40] harelba commented on #250
That would be awesome @cube2222

Thanks a lot for checking!

[2020-09-18 22:40] #250 closed

[2020-11-02 07:52] will2love opened #255 "RBO、CBO、HBO、ABO?"
hi , octosql can be support  RBO、CBO、HBO、ABO?

[2020-11-02 08:26] cube2222 commented on #255
Hey, I don't understand what those mean.

[2020-11-05 08:21] will2love commented on #255
RBO is Rule-Based Optimization    CBO is Cost-Based Optimization

[2020-11-05 08:21] #255 closed

[2020-11-05 08:27] cube2222 commented on #255
What is HBO and ABO then?

[2020-12-12 00:33] 89z opened #256 "Driver"
Other similar projects have a driver:

https://github.com/mithrandie/csvq-driver

this allows them to be used as a package instead of command line tool

[2020-12-24 21:35] #256 closed

[2020-12-24 21:39] 89z opened #257 "couldn't parse from expression: table must have unique alias"
Using this file:

https://github.com/cube2222/octosql/blob/master/datasources/csv/fixtures/cities.csv

and this config:

[code]

I get this result:

[code]

[2020-12-24 22:00] 89z commented on #257
It seems unlike other tools, the alias is required with OctoSQL:

[code]

[2021-02-04 17:20] Dialga commented on #215
There is now a pure go implementation of sqlite here https://gitlab.com/cznic/sqlite.

[2021-02-07 00:31] cube2222 commented on #257
Hey, yes indeed, for now it is.

[2021-02-07 00:31] #257 closed

[2021-05-01 12:49] tooolbox commented on #135
I very much like this idea.  Having the ability to arbitrarily query and join a few files without needing a config file would be very convenient.

I think this is a decent idea, but I don't see why the shorthand `select * from test.csv` couldn't work.  If need be, you could require it to obviously be a path such as `select * from ./test.csv`  Also something like

[code]

for Excel (using the MySQL

[2021-05-01 14:34] cube2222 commented on #135
I'm actually working on a rewrite of OctoSQL on the [redesign branch](https://github.com/cube2222/octosql/tree/redesign) and this syntax is supported there. Examples:
[code]
I'll probably release an initial version in the following months.

[2021-05-01 14:59] tooolbox commented on #135
That's very exciting, thanks for sharing!

[2021-08-11 02:48] acekingke opened #263 "[bug] select cannot emit result for cvs"
the data file is
[code]
The config yaml file is :
[code]
run the cmd it like that:
[code]

[2021-09-29 11:50] gedw99 opened #264 "nats driver ?"
I just stumbled on this repo. It looks alot like Differential dataflow pattern ?

I was wondering if NATS is considered ? Kafka i saw is there.

Nats Jetstream can do deduplication i read btw now.

[2021-10-10 21:00] cube2222 commented on #264
Hey!

Yeah, Differential Dataflow is quite similar if looked at from a distance. The technical details differ quite a bit though.

I'm currently working on a ground-up rewrite of OctoSQL on the [redesign branch](https://github.com/cube2222/octosql/tree/redesign) so I definitely won't add it in the close future. Long term NATS totally makes sense though and should be very easy to support, so I'll l

[2021-12-05 23:26] #74 closed

[2021-12-05 23:26] #75 closed

[2022-01-20 02:27] xqbumu opened #265 "[ENHANCE] it could be better if using $HOME/.octosql/tmp/plugins as plugin executor tmp dir"
It is not very friendly to Linux users.

https://github.com/cube2222/octosql/blob/f2f6b4d056c1d735e26f4de810b1061bda64d381/plugins/executor/executor.go#L41

thanks.

[2022-01-29 15:56] disintegrator opened #266 "Question: how can I convert an array of objects to a table?"
Given the follow schema:
[code]

I'd like to convert the items column into a table where the object keys become columns. Is this possible in octosql?

[2022-02-07 15:03] Allam76 opened #268 "JSON data type"
First or all, fantastic work! I really love this tool. It really fills a void in the ecosystem. Also kudos for the rewrite!

I would suggest to add a json data type. Then all json processing can be in a dedicated type and not assumed to be an object that can be converted to map[string]interface{}

For me it works great with the gjson/sjson libraries that work directly on strings and then store the

[2022-02-10 02:35] cube2222 commented on #268
Hey!

Thanks for raising this issue!

I'll be working on JSON and object support soon, so will keep this use case in mind - it totally makes sense.

Do you have a specific reason for not wanting to decode the JSON types into map[string]interface{} maps - that is, if proper operators for working with them would be supplied? Or is it just that you like the interface/ergonomics of the packages you me

[2022-02-10 09:22] Allam76 commented on #268
Well map[string]interface{} implies json objects and call me old-fashioned but I often work with top level json arrays :-)

This could of course be addressed with standard go json marshalling but then the top level json would need to be known (array or object).

These libraries are dirt simple and come with some serious batteries includes, such as json path. The actual data is just a string. So it

[2022-02-10 09:35] Allam76 opened #269 "Table scan optimization"
I noticed that there is no table scan order optimization. That is, tables in joins are scanned by increasing size.

An example from the northwind dataset:

Products have 100 entries.
Orders have 10000 entries.

Join products on orders should scan products first and then orders with appropriate filter from found products.

Today the first declared table is scanned first. First come, first served :-

[2022-02-10 12:05] cube2222 commented on #269
Hey!

Thanks for raising the issue! It's been on my radar. In practice, it doesn't matter if you're using a stream join (the default join algorithm), cause those store everything in memory right now anyways. If you're using lookup joins then indeed it does matter, and as you say, currently it just uses the join ordering the user does. It gets even more complicated with 3, 4, 5-way join etc. orderi

[2022-02-10 13:01] disintegrator commented on #266
Thanks for the response @cube2222 :)
I'm going to close the ticket as I don't have a need for this feature at this time. Feel free to reopen it if you want to use it to track work.

[2022-02-14 03:49] xqbumu commented on #265
Thanks for the response. :) @cube2222
The issues is fixed, so I'm going to close it. Feel free to reopen it if you want to use it to track work.

[2022-02-14 03:49] #265 closed

[2022-02-16 01:16] jtyoui opened #270 "Don't supported UTF-8 charset for loading csv file name?"
excuse me. I got an error when loading csv file.
error content: `Error: couldn't parse query: invalid argument syntax error at position 16 near '�'`
![image](https://user-images.githubusercontent.com/28988355/154177029-a4c9795f-e052-4d69-bc5a-b78dbe6c0769.png)
I ensure file is exist. After I change the filename. `学生表->student`. loading success!

[2022-02-23 07:21] xqbumu opened #271 "[ENHANCE] unix domain socket path too long"
If the length of socketPath exceeds 107, the listener will fail to be created, so we could:

1. replace ulid with others, or change the rule of tmp dir
2. add a config argument to set octosql's data dir
3. or other methods

https://github.com/cube2222/octosql/blob/9ef95ec464564c7c4f4dbd2c32d3485a0ff5323c/plugins/plugins.go#L112-L118

refer: https://github.com/golang/go/issues/43635

[2022-02-27 14:55] cube2222 commented on #271
Thanks for raising the issue! I'll look into it.

[2022-03-04 10:04] xqbumu opened #272 "[BUG] operator should be changed when `in` with single value"
example sql:

[code]

the id's right expr type change to logical.Constant

https://github.com/cube2222/octosql/blob/main/parser/parser.go#L642-L644

https://github.com/cube2222/octosql/blob/main/parser/parser.go#L832-L863

so, maybe we should change the operator to sqlparser.EqualStr after L862

[code]

[2022-03-24 16:50] dcmoura opened #273 "Add SPyQL benchmark"
Could you please add SPyQL to your benchmarks?
https://github.com/dcmoura/spyql/

Installation:
[code]

Query (haven't tried it out, but let me know if you run into trouble):
[code]

Thanks!

[2022-03-26 05:50] kuzhao opened #274 "More transform examples and functionality?"
I see great potential of PoC/experimental data row transformation in this brief but universal SQL client written in golang.

May I know if we can add more data transformation CLI examples into README.md? I (and maybe many others) would much enjoy examples like the capability of generating new fields on the fly and on demand, i.e. adding a geoCoordinate field from the address field for each row.
It

[2022-03-27 21:41] cube2222 commented on #271
Hey! This is now added. You can customize the plugin tmp dir using the OCTOSQL_PLUGIN_TMP_DIR environment variable. I'll consider adding a flag for this in the future.

[2022-03-27 21:41] #271 closed

[2022-03-29 08:33] #273 closed

[2022-03-29 08:48] dcmoura commented on #273
Thank you! I am very impressed with octosql's performance! Congrats on writing your own engine, it's a lot more effort than relying on SQLite!

[2022-04-01 09:44] Xirui commented on #110
@cube2222 this tool has been very useful to me.

Just want to contribute to this feature, though the link to the contribution guide is broken.

[2022-04-01 09:50] cube2222 commented on #110
Hey @Xirui, glad to hear that!

OctoSQL doesn't accept contributions right now, as is detailed in the README: https://github.com/cube2222/octosql#contributing

However, since this issue was created, OctoSQL adopted a plugin model for datasources, so you can actually create this yourself, in your own repository.

You should be able to base yourself on the MySQL or PostgreSQL plugins:
- https://gith

[2022-04-02 08:13] Xirui commented on #110
Thanks @cube2222, I will have a go with that, looks quite straight-forward.

[2022-04-22 11:20] ChristianCiach opened #275 "Support common special characters in json filenames"
I am just trying out octosql for the first time and have a hard time to get it working.

For starters, this didn't work:

[code]

Output:
[code]

Seems like octosql doesn't like the `.` inside the filename. So let's change it to a dash...

[code]

Output:
[code]

Well..... maybe changing the dash to an underscore?

[code]

Output:
[code]

Okay, now it was able to parse the argument but chokes on t

[2022-04-24 15:49] cube2222 commented on #275
Hey @ChristianCiach!
Thanks for the report!

As for filenames with special characters, you can use backticks in such situations.
[code]
should work.

As for the token too long error:
1. Is your file in JSONLines format? The file should be in a format where there's one JSON object per line.
2. How long is your longest line? (I'll add the possibility to customize the maximum line length in the next

[2022-04-24 15:52] ChristianCiach commented on #275
1. No, it is a single json object, not one object per line.
2. The file is about 6 MB in size and contains a single line of json.

I see now that this project doesn't fit my use case. That's fine, because I've found https://github.com/noborus/trdsql which fits my use case perfectly.

[2022-04-24 16:50] cube2222 commented on #275
Sounds to me like that as well. Glad you found the right tool for your use case!

[2022-04-24 16:50] #275 closed

[2022-05-13 13:09] adamatti opened #276 "Please add support to google docs (sheets)"
Please add support to google ~docs~ sheets.
Thanks in advance.
Btw, great project/initiative, congrats!

[2022-05-13 15:38] marklit opened #277 "Parquet datasource crashes on amd64 Ubuntu system without support for AVX2 instructions."
On my Ubuntu 20 system with 16 GB of RAM and 2 TB of disk capacity, I installed GoLang:

[code]

I then cloned the master branch of OctoSQL from today.

[code]

I then dumped a 1.1B-row, 116 GB in Snappy-compressed Parquet file from the latest version of ClickHouse.

[code]

When I ran the SQL below I got the following error.

[code]

[code]

[2022-05-14 14:33] gedw99 commented on #264
Me again

looks like the resins is now established

i just read the docs in the readme and am still a little confused on the way it does watermarking as a way to  feed data inputs into outputs .

You use input and output terminology as opposed to sources and sinks, so try to wrap my head around it still.

[2022-05-14 17:28] cube2222 commented on #277
Hey @marklit!
Thanks for the report, but this doesn't look like a file size issue.

This looks like a bug in the parquet datasource which is experimental right now. Based on my reading of the library underneath, it uses hand-written assembly for some elements of the implementation in order to use AVX2 instructions and it looks like those crash on your machine.

Please try building OctoSQL in the f

[2022-05-14 17:39] cube2222 commented on #277
@marklit
You should also be able to use [the official release I've just created](https://github.com/cube2222/octosql/releases/tag/v0.7.1) as I've added this build tag there as well.

[2022-05-14 19:02] marklit commented on #277
You're right. The VM I had setup had AVX2 disabled for some reason. I got 10 records to return with your official build in 4 seconds.

[2022-05-14 20:02] cube2222 commented on #277
@marklit Could you please describe exactly how you created the trips table in ClickHouse? That would help immensely with debugging this issue (and creating a sensible issue for the parquet library authors).

[2022-05-15 07:19] marklit commented on #277
I imported the [CSV files](https://tech.marksblogg.com/billion-nyc-taxi-rides-redshift.html) from my 2016 taxi rides dataset into a Log engine table in ClickHouse.

[code]

[code]

[code]

I've tried running parquet-tools on the .pq file but it exhausts my systems RAM. I'm not sure if trying to make 100 GB+ PQ files work with this system is a better path than trying to make multiple files in a sin

[2022-05-16 15:38] cube2222 commented on #277
Hey!
Thanks for the details! I'll investigate them once I have some time.

[2022-05-19 19:53] kpym opened #278 "Panic"
I was trying to compare the performances of `octosql` to [xsv](https://github.com/BurntSushi/xsv) and [csvq](https://github.com/mithrandie/csvq) by running the following code (on Windows 10):
[code]
using a 1,000,000 records file [worldcitiespop_mil.csv](https://burntsushi.net/stuff/worldcitiespop_mil.csv).
But after 9 seconds `octosql` crashed with the following message:
[code]

[2022-05-19 21:46] cube2222 commented on #278
Hey @kpym!
Thank you for the report!
I will take a look at it ASAP, but in the meantime you can use `--output json`  to sidestep this issue:
[code]

[2022-05-19 22:16] cube2222 commented on #278
This should be fixed now in the newest release: [v0.7.2](https://github.com/cube2222/octosql/releases/tag/v0.7.2)
That said, if performance is your goal, `--output json` should still be faster.

Thanks again for the easily reproducible bug report!

[2022-05-19 22:16] #278 closed

[2022-05-20 05:51] kpym commented on #278
@cube2222 Thanks for considering and fixing this bug so quickly 🙏

About the benchmark : The result with `--output csv` is slower (≈ 10s) than `xsv` (≈ 2s), `csvq` (≈ 4s), `mlr` (≈ 4s), `gocsv` (≈ 8s), `trdsql` (≈ 8s) and `textql` (≈ 8s).

[2022-05-25 06:13] tooolbox commented on #135
Just curious, it seems like you released this new zero-config, but I don't see Excel support (even though I see previous commits for it).  Was this lost in the shuffle?

[2022-05-31 20:09] aredridel opened #280 ""Error: couldn't materialize physical plan" with mysql (mariadb)"
[code]

Any thoughts? Looks like it's generating invalid SQL there

[2022-06-01 08:22] cube2222 commented on #280
Hey @aredridel!
Thanks a lot for the bug report. That looks weird and indeed like bad SQL generation.

There are a few things that would help me greatly debug this:
- The schema of the table.
- If it's not sensitive, the query.
- If it's not sensitive, the output of running the same command with `--explain 2` at the end (requires graphviz).
- Does it also error if running with `--optimize=false`?

[2022-06-01 17:28] aredridel commented on #280
Whoops! Query was in the original post but I screwed up the markdown code fence. It's there now.

![octosql-explain-1700003076](https://user-images.githubusercontent.com/2876/171466026-89d5b0e9-f865-497f-83d3-dd6262db9a08.png)

The schema:

[code]

[2022-06-01 17:29] aredridel commented on #280
It does still happen with `--optimize=false`

:; octosql --version
octosql version 0.7.2

[2022-06-01 18:50] aredridel commented on #280
Additionally, showing the help when an error happens is weird and confused me a bit

[2022-06-01 20:03] cube2222 commented on #280
Thanks for all the details! I'll try to reproduce this as soon as I have some time.

[2022-06-01 23:19] cube2222 commented on #280
I, unfortunately, wasn't able to reproduce this (the table works just fine for me).

Which version of MariaDB are you using? And which operating system?

I've also released octosql v0.7.3 and the mysql plugin 0.3.0, it includes support for smallints and verbose logging, you can install it by running `octosql plugin install mysql@0.3.0`

Running queries with the environment variable `OCTOSQL_MYSQL_

[2022-06-01 23:32] cube2222 commented on #280
Ok, I found the bug.

If I'm not mistaken, then you have multiple copies of this table in various schemas on your database instance. Looks like that broke during schema inference and looking up fields. Same bug is in the Postgres plugin actually, so thanks for that!

I've just released version 0.4.0 of the MySQL plugin which should work.

[2022-06-04 02:49] aredridel commented on #280
Oh delightful! I'll test on Monday!

[2022-06-04 02:49] aredridel commented on #280
And indeed I do have the same table in multiple schemas.

[2022-06-09 10:40] cube2222 commented on #280
This is now also fixed in Postgres, so closing this issue. Feel free to reopen if needed.

[2022-06-21 18:07] cube2222 commented on #135
@tooolbox Sorry, lost track of this issue.

Yeah, zero-config is now here and excel support is gone for now cause I haven't yet had the time to port it.

That said, I'm planning to bring it back soon. Should be very little work to port it over as a plugin.

Closing this as zero-config csv queries are here, but I'll open another issue for tracking Excel support.

[2022-06-21 18:07] #135 closed

[2022-06-21 18:08] cube2222 opened #281 "Bring back Excel support"
It got lost during the rewrite, should be recreated as a plugin.

Should mostly be a copy-paste of the now-deleted excel datasource, as mentioned in #135

[2022-06-21 18:09] #155 closed

[2022-06-21 18:12] #263 closed

[2022-06-21 21:23] tooolbox commented on #281
Two bits of feedback:

- Particularly interested in octosql since I found out that its competitors do things like load the data set into sqlite before querying, which has not worked for me for some of my large data sets.
- Would appreciate having this feature natively without requiring plugins; I just want to be able to download octosql and run it without additional tooling, network connectivity,

[2022-06-21 21:33] cube2222 commented on #281
The plugin architecture is meant to keep datasources decoupled from the main repository, so 99% this will be implemented as a plugin.;

That said, you won't need additional tooling nor network connectivity. Plugins can be installed using OctoSQL itself and are then available locally `octosql plugin install excel`. You can also just download the tarball with the binaries from GitHub and put them in

[2022-06-22 03:56] tooolbox commented on #281
Got it on the tooling bit, but the connectivity thing seems contradictory?  I imagine that `plugin install` is downloading and installing a plugin, which means you need network connectivity.  Otherwise how does it get onto your machine?

Sure, that works.

1. Download binaries from OctoSQL repo and plugin repo
2. Put in folder adjacent to each other
3. Profit?

(Forgive me, I have some machines wi

[2022-06-22 06:22] cube2222 commented on #281
Sorry, what I meant is that you only need it once, on setup.

The folder structure is bit more interesting than that, but yeah, basically this.

[2022-07-14 19:09] Fryuni opened #282 "Cannot install from source due to replace directive"
Installing a module-aware binary without modules has been blocked since Go 1.13 if I remember correctly.

[code]

The suggested command downloads the source but doesn't build it.

Replacing that with the new command using module installation (with a version) also does not work because replace directives are not supported with the install command.

[code]

[2022-07-15 17:26] cube2222 commented on #282
Thanks a lot for taking the time to report this!

I'll admit, I didn't know about this. I'll think about how to do the adaptations of the parquet library in a different way so that replacement isn't needed. No promises however - I'd like to avoid creating a full fork as that would require much more changes, and keeping up with the origin would be much harder.

In the meantime I recommend git cloni

[2022-07-16 07:39] mingodad opened #283 "Grammar railroad diagram"
Using this tool https://www.bottlecaps.de/convert/ we can have a nice navigable railroad diagram ([Syntax diagram](https://en.wikipedia.org/wiki/Syntax_diagram)) for [sql.y](https://github.com/cube2222/octosql/blob/main/parser/sqlparser/sql.y).

Copy and paste [sql.y](https://github.com/cube2222/octosql/blob/main/parser/sqlparser/sql.y) on https://www.bottlecaps.de/convert/ `Input grammar:` textar

[2022-07-16 19:03] didip opened #284 "Can this replace Presto if it has an HTTP server?"
I am just thinking that OctoSQL can go beyond single machine if it can have a server component.

[2022-07-17 02:22] eatonphil opened #285 "Panic in count(1), count(*) queries"
Hey as mentioned on HN I was trying to count standard library functions and both of these functions panic-ed. While it's understandable some syntax might not be supported yet, I assumed panic-ing might mean an unintentional issue. So I figured I'd share the stack trace in case you'd like to know about it.

If this is the behavior that you expect though feel free to close!

[code]

[2022-07-17 10:23] cube2222 commented on #285
Thanks for the report!

I've already replicated it, should be fixed soon.

[2022-07-17 10:35] cube2222 commented on #285
This is now fixed in https://github.com/cube2222/octosql/commit/f7a1b92ba65584bc6a2cb274a3c919b881d0fcfc.

[2022-07-17 10:35] #285 closed

[2022-07-17 11:28] cube2222 commented on #284
Adding a Postgres-compatible component is a possible direction for the future.

It's tricky for the more dynamic/dataflow'y parts, as OctoSQL is able to give you a live updating output table (which Postgres wire protocol doesn't support), but I can go with a similar approach as [Materialize](https://materialize.com) does for those use cases - creating a live-updating materialized view that you can

[2022-07-18 01:05] jfkw opened #286 "Add default system-wide plugin location to facilitate packaged installs"
To improve options for packagers, please consider adding  a default system-wide location e.g. `/usr/share/octosql/plugins` as the first path searched for installed plugins. The user's `~/.octosql/plugins/core/octosql-plugin-postgres` would be searched next and plugins to be loaded would be the combined set.

I am [packaging OctoSQL for openSUSE](https://build.opensuse.org/package/show/devel:langua

[2022-07-18 07:37] cube2222 commented on #286
You can change the plugin directory from `~/.octosql/plugins` to a different one using the `OCTOSQL_PLUGIN_DIR` environment variable.

Would that be enough for that use case?

[2022-07-19 02:14] ex34toway opened #287 "Log Parser support ?"
Log Parser : https://www.microsoft.com/en-us/download/confirmation.aspx?id=24659

[2022-08-03 08:39] egonbraun commented on #41
In addition to that have you thought about making OctoSQL also a library other programming languages can use to query any sort of databases and files?

[2022-08-03 17:05] cuamckuu opened #288 "Can't install on Windows"
Have golang installed
[code]

Using command from readme:
[code]

After removing `-u`:
[code]

After adding `@latest`:
[code]

[2022-08-03 21:44] cube2222 commented on #288
Hey @cuamckuu!

This seems to be a duplicate of #282

Please either download a precompiled binary from the releases page or clone + install.

[2022-08-03 21:44] #288 closed

[2022-08-04 12:50] cube2222 commented on #41
Hey @egonbraun!

As far as I know Python and R wrappers for the binary have been created, but I don't think they've been maintained.

It's definitely meant to be usable as a library from Go, and reading the root.go file is the best way to see how.

[2022-08-05 20:28] arikgrahl commented on #282
I can confirm that the problem seems to exist since the integration of parquet, so since version 0.7.0.

[code]

vs.

[code]

Unfortunately, this also breaks my Nix builds from source, on which I am dependent on NixOS, as I cannot use the pre-built binaries.

[code]

I can imagine that other platforms, for various reasons, do not want to use pre-built binaries as well.

Is there any way to support

[2022-08-05 22:32] cube2222 commented on #282
Would it be possible in the Nix package to instead `git clone` & `go install`?

It seems like it only breaks when go installing directly from a remote source control system (github in this case).

[2022-08-08 12:28] matteo-giacomazzi commented on #170
Hello,

I'm confused about the first parameter of the parse_time function, what it actually is? Using exactly your example works as expected (using different dates as second parameter) but I cannot understand how the first one is composed, would you shed some light?
I tried to look into https://pkg.go.dev/time#pkg-constants without any luck...

Thank you!

[2022-08-08 12:30] arikgrahl commented on #282
To put it simplifiedly, a `git clone`/`go install` is what the [`buildGoModule`](https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/go-modules/generic/default.nix) does, but in a reproducible and declarative way.

Nevertheless, this suggestion put me on the right track, for which I am grateful!

For the test definition of

[code]

I received multiple times the error message `module requ

[2022-08-08 14:20] cube2222 commented on #170
Hey @matteo-giacomazzi!

You basically have to write the date that is used in the constants (`2006-01-02T15:04:05Z07:00`) in the format you want.

So for example, if you want `DD-MM-YYYY`, you would write `02-01-2006` as the format, or if you want `YYYY-MM-DD/HH:MM:SS` as the format, you'd write `2006-01-02/15:04:05`.

Does that make sense?

[2022-08-08 16:03] cube2222 commented on #282
Good point! I've added it to the README.

[2022-08-08 16:05] cube2222 commented on #287
Hey @ex34toway!

This can be added as a plugin, and is out of scope for the core repository.

[2022-08-08 16:05] #287 closed

[2022-08-09 21:31] indigoviolet opened #290 "[bug] doesn't read some csvs?"
[code]

[2022-08-09 21:32] indigoviolet opened #291 "`extraneous or missing " in quoted-field` on CSV file"
[code]

[2022-08-10 07:46] cube2222 commented on #290
Hey @indigoviolet!

`../` is not supported in the bare form, you need to wrap the file path in backticks.

In other words

[code]

[2022-08-10 07:46] #290 closed

[2022-08-10 07:53] cube2222 commented on #291
Hey @indigoviolet!

This part of the error
[code]
is the CSV decoder notifying you that your CSV file is invalid, specifically in line 248.

The first query works because the `LIMIT 10` interrupts execution before the CSV decoder reaches that line.

You can find more details in this issue: https://github.com/golang/go/issues/24422

[2022-08-10 17:38] indigoviolet commented on #291
Thanks, that makes sense. I would suggest improving the error messaging here as well -- in this case, it would help to actually dump out the offending snippet of data, and losing the usage message.

Note that this was an escaped quote, perhaps this should be handled?

[code]

[2022-08-10 18:13] cube2222 commented on #290
I agree the syntax errors are absolutely atrocious. Unfortunately, error recovery and reporting is a hard problem in LR1 parsers (which is what OctoSQL uses), though CockroachDB has some interesting blog posts around it, as they managed to solve that problem.

This is definitely something to improve in the future.

[2022-08-10 19:25] cube2222 commented on #291
@indigoviolet it's unintuitive to me as well, but the spec-compliant escape character for csv double quotes is another double quote.

In other words, the line should read:
[code]

[2022-08-10 23:34] indigoviolet commented on #291
Hmm, TIL. I noticed that some csv parsers allow you to specify the escape character, delimiter, quote character etc (eg. `xsv input`) - perhaps worth adding to the CSV options (https://github.com/cube2222/octosql#file-access). Unfortunately this is a dataset that someone else provided, so I had to figure out how to normalize it (which I eventually did with `pandas`, and also `xsv`), but it might b

[2022-08-10 23:37] cube2222 commented on #291
That's definitely a good idea for the future!

Unfortunately, having tried to add precisely this, I discovered that the Go CSV encoding/decoding package doesn't support specifying custom escape characters, so this addition would be way too much work for way too little gain for the time being. I've seen that i.e. the Python CSV coding library is much more liberal about this.

[2022-08-10 23:37] #291 closed

[2022-09-06 13:24] swuecho opened #292 "couldn't get table from plugin when connect to postgres (private cloud provider)"
Error: typecheck error: couldn't create datasource: couldn't get table from plugin: rpc error: code = Unknown desc = couldn't get table: `schema` configuration setting is required.

I could connect to the postgres instance using psql.

[2022-09-06 15:24] swuecho commented on #292
[code]
add:
     schema: public

problem solved.

[2022-09-06 19:57] cube2222 commented on #292
Hey!

Glad you found the solution! I'll check any documentation to make sure that the schema is mentioned everywhere.

[2022-09-07 12:49] #292 closed

[2022-09-08 13:54] Fryuni commented on #282
@arikgrahl you can use `patchelf` to make pre-built binaries work with NixOS
There are multiple examples on Nikpkgs itself.

Not the most convenient, but once you do it once it becomes very easy. It is faster since there is no need to rebuild everytime and sometimes better to report things since it is the distributed binary.

[2022-09-09 08:54] arikgrahl commented on #282
Thank you for the advice, I am aware of `patchelf`.
Nothing against providing pre-built binaries in general, but relying on them is for me unacceptable as I cannot audit the software completely and they are not portable enough, e.g. lack of `arm` (32 bit).
To be honest, I don't understand your argument why pre-built binaries should be preferred regarding reporting.

As I [stated above](https://git

[2022-09-09 12:20] Fryuni commented on #282
From my experience, due to how easy it is to install Go binaries from source, people install using `@latest` and then months later report a problem on an old version saying that it is using the latest version.
So I normally recommend using the pre-built binaries, but not for any technical reason, it's more of a people reason.

Admittedly, since you are a Nix user I hardly doubt this would apply to

[2022-09-11 22:40] ostrolucky opened #293 "It converts ints to floats"
[code]

How can I make it stop reformatting those numbers? I've tried `SELECT productId::int` as well as COALESCE, to no avail:
[code]

[2022-09-12 09:45] cube2222 commented on #293
Hey @ostrolucky, unfortunately - and I don't like this either - there are no ints in JSON as an encoding format. It's all floats.

You can use `int(productId)` to convert.

[2022-09-12 11:40] ostrolucky commented on #293
Ah `int(productId)` I didn't know this one. I think that's a good enough 👍

[2022-09-12 11:40] #293 closed

[2022-09-19 16:30] arikgrahl commented on #282
As also stated in PR https://github.com/cube2222/octosql/pull/294, my contribution of a [Nix package of `octosql`](https://github.com/NixOS/nixpkgs/pull/190467) to nixpkgs has successfully been accepted.
Through this, the installation is straightforward and also includes a binary cache, so building from source should not be necessary.

The PR https://github.com/cube2222/octosql/pull/294 should als

[2022-09-19 21:33] #282 closed

[2022-09-24 19:55] nbk2000 opened #295 "Parsing error when opening json file with two periods in filename"
Using **octosql version 0.9.4** and running the following command:

`octosql "SELECT * FROM example.com.json"`

Results in the following error:

`Error: couldn't parse query: invalid argument syntax error at position 27`

If the filename is changed to `example_com.json` then no error occurs and the program functions normally

[2022-09-24 22:08] cube2222 commented on #295
@nbk2000 could you try wrapping it in back ticks?

[code]

[2022-09-25 03:22] nbk2000 commented on #295
That results in the same error

[2022-09-25 09:37] alecthomas opened #296 "`octosql 'SHOW TABLES'` panics"
[code]

[2022-09-25 10:10] cube2222 commented on #296
@alecthomas The error message could probably be better, but `SHOW TABLES` is intentionally not implemented.

[2022-09-25 10:11] cube2222 commented on #295
@nbk2000 can't reproduce, I've just tried
[code]
and it works perfectly well.

Is it possible that a different part of your query is resulting in that error?

[2022-09-25 10:38] alecthomas commented on #296
Yep, I figured.

[2022-09-25 11:19] cube2222 commented on #296
Fixed in https://github.com/cube2222/octosql/commit/1acc4eb58add5a082acda1640b098ea9c68e7354

[2022-09-25 11:19] #296 closed

[2022-09-25 15:52] nbk2000 commented on #295
I don't think so, since changing the filename results in correct behavior, and the error message is quite explicit as to the position of the offending character. For example:

[code]
results in the error:

Error: couldn't parse query: invalid argument syntax error at position **15**

While removing the backticks like this:
[code]
results in the error:

Error: couldn't parse query: invalid argument

[2022-09-25 16:09] cube2222 commented on #295
Ok, this actually seems to be caused by bash. I've been running on the fish shell, but on bash I get the same error as you and the first line of the output is
[code]
so it seems like bash is treating the backticked part like a command it should execute and use the output of.

Escaping it seems to work correctly:
[code]

[2022-09-25 16:21] nbk2000 commented on #295
Yep backticks cause execution in bash. My results are the same as yours, so this is a workable workaround.

Can I make a feature request that multi dot files be supported without resorting to escaped backticks? (seems like an unnecessary footgun)

[2022-09-25 17:04] cube2222 commented on #295
Sure, I'll look into it when I have some time. Until then, I'll change the title of this issue to track this.

[2022-09-26 23:47] m2acgi commented on #281
+1
---
natively without requiring plugins; I just want to be able to download octosql and run it without additional tooling, network connectivity, etc.

[2022-10-11 08:00] matteo-giacomazzi commented on #170
Hi Jacob,

   thank you for taking time!
   Actually this thing is not much clear yet: why I need to use 2006? Is it
a constant defined somewhere? Using a different year doesn't work.

   Thank you!

Il giorno lun 8 ago 2022 alle ore 16:21 Jacob Martin <
***@***.***> ha scritto:

--
Matteo Giacomazzi
***@***.***

[2022-10-12 08:09] yusufozturk opened #297 "Any plans for Avro data type support?"
Do you have any plans to support Avro files in the future? In the benchmarks, Avro is much faster to serialize/deserialize and the file size is usually a lot smaller.

Thanks.

[2022-10-12 23:17] cube2222 commented on #170
Yep, you have to write the specific date above in the format you need. Second of January 2006, 4 minutes and 5 seconds past 3 pm, in a +7 hour offset time zone. You can omit the bits you don't care about.

https://pkg.go.dev/time#pkg-constants contains a couple of example formats which all encode this single date.

[2022-10-15 05:40] chapmanjacobd opened #298 "Relaxed mode?"
I really like how fast `octosql` is and it seems like a great tool to bring unstructured data into a strict hierarchical, columnar format.

Unfortunately, wrangling unstructured data usually requires some flexibility and interpretation. I have two main issues so far:

1) Selecting variables which are in some files but not others. It would be really nice to have a --relaxed flag where unknown varia

[2022-10-15 06:07] chapmanjacobd commented on #298
also, what's going on with `len()` ?

[code]
huh....

[code]

also, you might also want to store/print the git commit during compile time or something, for example:

'octosql version dev' + `git describe --match=NeVeRmAtCh --always --abbrev=8 --dirty && git status --short`

[2022-10-15 06:43] chapmanjacobd commented on #298
Ahh.. Also I'm running out of vespene gas or somteh

[code]

[2022-10-15 06:53] chapmanjacobd opened #299 "bufio.Scanner: token too long"
I'm running out of vespene gas or somteh

[code]
sad :'(

the great octopus god is able to work with this other, smaller, file in 110.6s:

[code]

It does not use much RAM with either file so not sure what's up :? Both are similar-ish file-ish size-ish 7.8G vs 10GB compressed. maybe 200GB uncompressed

[2022-10-15 07:16] chapmanjacobd opened #300 "--output csv scientific notation and <nil>"
I don't think it should be printing in scientific notation... ? I just want an `int`

[code]

Also not sure why <nil> are there also... is nil "null" in go? While there is not standard for CSV, the convention is no char output: `1,,3`

There is probably a good CSV library in `go` which can ensure proper quoting, etc ??

[2022-10-15 09:52] cube2222 commented on #299
Hey, it's actually the line size that's the problem (it's limited to 1MB right now), but I'm happy to add a config option for this.

[2022-10-15 09:57] cube2222 commented on #298
Hey!

So, multiple things you mentioned:

The use case makes sense, I'll think about it.

Good point, happy to add this.

When the `simple_signature` is false, then the arg types / return types have no meaning. But it's a good point that this way it's completely unreadable right now what's supported and what isn't. I'll see if I can add "synthetic" signatures there.

len works with strings, lists,

[2022-10-15 09:59] cube2222 commented on #300
The scientific notation bit is actually partly a fault of JSON as a standard. JSON - according to the spec - doesn't support integers, everything is a float, and for very big floats they're printed in scientific notation.

The nil bit I agree, thanks for the report!

[2022-10-15 11:03] cube2222 commented on #298
This is now added in https://github.com/cube2222/octosql/commit/cc43f257bfe318a5f93ca336728c13443aba6c7f and released in 0.11.1.

[2022-10-15 11:05] cube2222 commented on #299
This has now been added in https://github.com/cube2222/octosql/commit/6644557f8cce2e7231b201581c98a9519d2ae132 and released in 0.11.1.

You are now able to configure the maximum line size in your ~/.octosql/octosql.yml file:
[code]

Thanks for the report!

[2022-10-15 11:05] #299 closed

[2022-10-15 11:08] cube2222 commented on #300
Both of these have now been fixed in https://github.com/cube2222/octosql/commit/2e6b0cdb2fc53660ebebdc243bd397df348b0351 and released in 0.11.1.

1. Null is now properly printed in CSV as an empty field.
2. Even though everything is still a float in JSON, the CSV output will not use scientific notation anymore. Instead, it prints the float with as many precision positions as are necessary, which m

[2022-10-15 11:08] #300 closed

[2022-10-15 13:51] chapmanjacobd opened #301 "panic: runtime error: invalid memory address or nil pointer dereference"
[code]

[2022-10-15 17:46] cube2222 commented on #301
Hey, thanks for the report.

First time I'm seeing this. Do you possibly have the JSON value that is causing this?

[2022-10-15 18:04] chapmanjacobd commented on #301
It's the same 10GB file as before https://files.pushshift.io/reddit/submissions/RS_2022-08.zst.

Not sure how to get the JSON value. In the code you should be able to add some logging in the stacktrace to print it but maybe with stuff like memory errors that is more difficult?

when I try to generate a trace it only creates a 16 byte file:

[code]

[2022-10-15 18:05] chapmanjacobd commented on #301
Interesting... when I only do the first line then I get a more clear error message:

[code]

[2022-10-15 18:11] chapmanjacobd commented on #301
That makes sense to me. Maybe instead of `panic` it should just be `Error`.

[code]

Maybe the only thing to fix here is to bubble up the error somehow so that it does not show up as "invalid memory address or nil pointer dereference"

[2022-10-15 18:43] cube2222 commented on #301
Thanks for the writeup!

I'll admit I have no idea why you got the nil dereference instead of the List panic there, but I'll look into it (and probably, as you suggested, turn it into a normal error, to avoid further similar issues).

Cheers!

[2022-10-15 21:09] chapmanjacobd opened #302 "Parquet output format"
It would be nice to be able to save to a binary format like Parquet or something.

There are line breaks in my data so that's causing CSV to wonk

[2022-10-16 22:10] codekitchen opened #303 "Allow using double-quotes for escaping."
I have a csv file that has a column named `key`, which seems to be a reserved word in octosql? `select key from myfile.csv` errors with

`Error: couldn't parse query: invalid argument syntax error at position 11 near 'key'`

I tried escaping the identifier with double-quotes following the SQL standard, but that seems to actually create a string literal in octosql, same as with single-quotes?

[cod

[2022-10-16 22:19] chapmanjacobd opened #304 "Option to skip a line with warning instead of error"
[code]

I encountered a bad line in my data:

[code]

It would be nice if octosql could skip over that line in relaxed mode, printing a single line warning to `stderr` instead of exiting.

[2022-10-16 23:08] cube2222 commented on #303
Hey @codekitchen!

You can escape keywords (and also complex file paths) using backticks. So in this case that would be:
[code]

However, keep in mind that if you're using bash, you need to escape backticks, so the above becomes:
[code]

That said, using double quotes for escaping is a good idea (following the SQL standard, as you said). Thanks for it! It would also partially solve https://github.

[2022-10-16 23:12] cube2222 commented on #302
Agreed adding Parquet as an output format makes sense.

Though btw. CSV should handle newlines just fine. It will just wrap the field in double-quotes.

[code]

[2022-10-17 00:55] codekitchen commented on #303
aha, thank you. and 👍 on allowing double-quotes as is standard.

one note: escaping the backticks isn't necessary in bash (and zsh) if you wrap the whole query in single-quotes, e.g. this works fine:

[code]

but if wrapping in double-quotes, you do need to escape the backticks:

[code]

[2022-10-19 23:30] cube2222 commented on #297
Hey @yusufozturk!

No plans to add it to the core, but it can be added as a plugin in the future.

[2022-10-19 23:30] #297 closed

[2022-10-20 21:10] cube2222 commented on #303
@codekitchen FYI double quotes for literals have been released as part of v0.12.0.

[2022-10-20 21:10] #303 closed

[2022-10-29 22:05] wdepril commented on #281
Excel support would be awesome,  we now have to convert to csv first before we can query.  It would save that step.  Excel support also allows us to automate excel to csv conversions in other use cases.  Plugin install seems straightforward so no issue with that.

[2022-11-21 19:35] rupurt opened #305 "Add REPL"
Howdy :wave:

Absolutely love the project @cube2222. Incredible job!

Do you have any plans for a REPL? i.e. something like `psql`

[2022-11-21 22:10] rupurt opened #306 "Add Statistical Window Functions"
It would be awesome to have statistical window functions like with the `OVER` clause like Postgres & DuckDB. Is this something on the radar?

[2022-11-30 00:18] cube2222 commented on #305
Hey @rupurt!
Thanks!

Long term, yes. It would also be nice to be able to create temporary tables inside of it, to store intermediate computation.

[2022-11-30 00:21] cube2222 commented on #306
Yes! Actually, something I'm planning to add whenever I have some time to spend on OctoSQL. I really want these too.

[2022-11-30 18:01] rupurt opened #307 "Refactor to support Apache Arrow"
Howdy,

I read your [thesis](https://github.com/cube2222/octosql/blob/rust-rewrite/whitepapers/thesis.pdf) on the `rust-rewrite` branch. Very informative and you have obviously put a lot of thought into the tool. As you noted in `Possible Improvements and Lessons
Learned` columnar format and Apache Arrow seem to be the state of the art way forward.

Do you have any plans to support Arrow or have y